__pycache__
.cache

catboost_info
.models

*.ipynb
sklearn_wrapper/configs/config.json
sklearn_wrapper/for_kernel/predict_for_kernel.py
outputs/*.npy
outputs/*.csv
outputs/*.pickle
outputs/*_reg
outputs/*_clf
logs/*
